---
title: Alex Mayer Design
---

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Alex Mayer Design Strategie Consulting">
  <meta property="og:title" content={{ title }}>
  <meta property="og:description" content="Alex Mayer Design Strategie Consulting">
  <meta property="og:image" content="https://www.mywebsite.com/image.jpg">
  <meta property="og:image:alt" content="Image description">
  <meta property="og:locale" content="de_AT">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://www.mywebsite.com/page">
  <link rel="canonical" href="https://www.mywebsite.com/page">

  <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
  <link rel="manifest" href="./favicons/site.webmanifest">
  <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="./favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="./favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/style.css">
  <script src="/js/script.js" defer></script>
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <section id="top-nav">
      <h1>Alex Mayer</h1>
      <nav>
        <ul>
          <li><a class="active">Start</a></li>
          <li><a>Leistungen</a></li>
          <li><a>Blog</a></li>
          <li><a>Über mich</a></li>
          <li><a>Kontakt</a></li>
        </ul>
      </nav>
      <button class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </section>

    <section id="hero">
      <div>
        <span>Glänzende Ideen für leuchtende Augen</span>
      </div>
      <button>Angebot einholen</button>
    </section>
  </header>
  {{ content }}
  <footer>
    <div class="max-width-container">
      <div class="footer-top">
        <p>© Alex Mayer {{ year }}</p>
        <nav>
          <ul>
            <li><a href="">Impressum</a> | <a href="">Datenschutzerklärung</a></li>
          </ul>
        </nav>
        <p>
          Demo Wordpress Seite im Rahmen der LV 'Content Management Systeme' an
          der FH Salzburg von Markus Rinnerberger und Martin Sonnberger.
          <br><br>Alle Inhalte sind frei erfunden.
        </p>
      </div>
      <h2>Bildnachweis</h2>
      <h3>Fotos</h3>
      <ul>
        <li>
          Herefoto Tastatur: Aman Anderson, <a
            href="http://de.freeimages.com/photo/illuminated-keyboard-124228">http://de.freeimages.com/photo/illuminated-keyboard-124228</a>
        </li>
        <li>
          Foto Dina Meyer by Dreifachaxe, <a
            href="https://creativecommons.org/licenses/by-sa/4.0">https://creativecommons.org/licenses/by-sa/4.0</a>
        </li>
        <li>
          Foto Thomas Meyer-Hermann By Thomas Meyer-Hermann, <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Thomas_Meyer-Hermann_1.jpg/407px-Thomas_Meyer-Hermann_1.jpg">https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Thomas_Meyer-Hermann_1.jpg/407px-Thomas_Meyer-Hermann_1.jpg</a>
        </li>
        <li>
          Foto Vorstand Sparkasse Ülzen, <a
            href="https://upload.wikimedia.org/wikipedia/commons/3/3e/SKUelzen_Vorstand_2015.jpg">https://upload.wikimedia.org/wikipedia/commons/3/3e/SKUelzen_Vorstand_2015.jpg</a>
        </li>
      </ul>
      <h3>Icons</h3>
      <ul>
        <li>
          Freepik, <a href="http://www.freepik.com">http://www.freepik.com</a>
        </li>
        <li><a href="www.flaticon.com">www.flaticon.com</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>