@import 'variables';

section#clients {
  .clients-grid {
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 1.6em;

    @media screen and (max-width: $bp-desktop) {
      max-width: 40rem;
      margin: 0 auto;
      display: block;
      height: unset;
    }

    article {
      display: grid;

      @media screen and (max-width: $bp-desktop) {
        display: block;
        padding: 1.3em;
      }
    }

    img {
      object-fit: cover;

      @media screen and (max-width: $bp-desktop) {
        aspect-ratio: 1 / 1;
        max-width: 100%;
      }
    }

    .client-tina,
    .client-tom {
      height: inherit;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .client-tina {
      background: #fffbdb;
      grid-column: 1 / 4;
      grid-row: 1 / -1;

      img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
        padding: 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
        }
      }

      .client-info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }

      blockquote {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        align-self: end;
        padding-top: 21%;
        padding-bottom: 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
        }
      }

      > * {
        background: inherit;
        z-index: 3;
        padding-left: 0.5em;
        padding-top: 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
        }
      }
    }

    .client-tom {
      grid-column: 2 / 5;
      grid-row: 1 / -1;
      background: #d4edfc;
      z-index: 2;

      img {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        height: calc(100% - 0.5em);
        width: 100%;
      }

      .client-info {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        text-align: right;
        padding-right: 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
          text-align: left;
        }
      }

      blockquote {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        padding-left: 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
        }
      }

      > * {
        padding-top: 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
        }
      }
    }

    .client-mueller {
      background: #e2edd8;
      width: 40rem;
      height: inherit;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column: 5 / 9;
      grid-row: 1 / -1;
      z-index: 3;

      @media screen and (max-width: $bp-desktop) {
        width: unset;
        height: unset;
      }

      img {
        grid-column: 2 / 5;
        grid-row: 1 / 3;
        height: calc(100% - 0.5em);
        width: calc(100% - 1em);
        padding: 0.5em 0.5em 0 0.5em;

        @media screen and (max-width: $bp-desktop) {
          padding: 0;
          width: 100%;
        }
      }

      .client-info {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;

        cite,
        p {
          align-self: flex-end;
          padding-right: 0.5em;
          padding-top: 0.5em;
        }

        blockquote {
          margin-top: auto;
          padding-left: 0.5em;
          padding-bottom: 0.5em;

          @media screen and (max-width: $bp-desktop) {
            padding: 0;
            margin-top: 1rem;
          }
        }

        @media screen and (max-width: $bp-desktop) {
          display: block;
        }
      }
    }

    .quotation-mark {
      background: $primary-color;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column: 5 / 6;
      grid-row: 1 / 3;
      z-index: 4;

      @media screen and (max-width: $bp-desktop) {
        width: unset;
        height: unset;
      }

      img {
        aspect-ratio: unset;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        max-width: 80%;
        margin: 1.5em auto 0 auto;

        @media screen and (max-width: $bp-desktop) {
          margin-top: 0;
        }
      }
    }
  }

  @media screen and (max-width: $bp-desktop) {
    cite,
    p {
      font-size: 1.4rem;
    }

    blockquote {
      line-height: 1.3;
    }

    .client-info {
      margin: 1rem 0;
    }
  }
}
