@import 'variables';

footer {
  background: $primary-color;
  color: white;
  margin-top: 5rem;

  .max-width-container {
    padding: 2rem;

    p {
      font-size: $text-font-size;
      word-wrap: break-all;
      color: white;
    }

    h2 {
      color: white;
      font-size: 30px;
      margin: 0.5em 0 0.2em 0;
    }

    h3 {
      font-size: $text-font-size;
      margin: 0.3em 0 0.2em 0;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5em;
    }

    li {
      font-size: 1.4em;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      nav {
        text-align: right;
      }

      ul {
        list-style-type: none;
      }

      li {
        font-size: $text-font-size;
      }

      a:hover {
        text-decoration: none;
        border-bottom: 2px solid;
      }

      @media screen and (max-width: $bp-desktop) {

        display: block;
      }
    }
  }
}