@import 'variables';

footer {
  background: $primary-color;
  color: white;
  margin-top: 5rem;

  .max-width-container {
    padding: 2rem;

    p {
      font-size: $text-font-size;
      color: white;
      margin: 0.5rem 0;
    }

    h2 {
      color: white;
      font-size: $text-font-size;
      margin: 0.5em 0 0.2em 0;
    }

    h3 {
      font-size: $text-font-size;
      margin: 0.3em 0 0.2em 0;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5em;
    }

    li {
      font-size: 1.4em;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
      }

      li {
        font-size: $text-font-size;
        padding-left: 0.5em;

        &:first-child {
          padding-right: 0.5em;
          padding-left: 0;
          border-right: 2px solid white;
        }
      }

      a:hover {
        text-decoration: none;
        border-bottom: 2px solid;
      }

      @media screen and (max-width: $bp-desktop) {
        display: block;

        ul {
          padding: 0;
          justify-content: flex-start;

          li {
            font-size: 1.4em;
          }
        }
      }
    }

    @media screen and (max-width: $bp-desktop) {
      padding: 1em;

      p {
        font-size: 1.4em;
      }

      h2 {
        font-size: 1.6em;
      }

      ul {
        padding: 1em;
      }

      li {
        font-size: 10px;
        word-break: break-all;
      }
    }
  }
}
