@import 'variables';

section#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/illuminated-keyboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5em;
  min-height: 300px;

  span {
    color: $primary-color;
    background: white;
    line-height: 1.5em;
    margin: 0;
    margin-left: 55%;
    padding: 0.07em 0.3em;
    font-size: 48px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  button {
    background: #3fa535;
    color: white;
    border-radius: $border-radius;
    border: transparent;
    font-size: 28px;
    padding: 0.5em;
    margin-top: 0.4em;
    margin-left: 55%;
    width: max-content;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: $bp-desktop) {
    padding: 3em;

    span {
      font-size: 40px;
      margin: 0 auto;
    }

    button {
      margin-left: 0;
      font-size: 22px;
    }
  }
}
