@import 'variables';

section#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2em;
  padding-bottom: 1em;
  margin-bottom: 0;

  .menu-navigation-container ul {
    display: flex;
    font-size: 1.8em;

    li {
      margin: 0 0.3em;

      &.current-menu-item a {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;

        @media screen and (max-width: $bp-desktop) {
          background: $primary-color;
          color: white;
          border-bottom: none;
        }
      }
    }

    a {
      color: black;
      cursor: pointer;
      transition: color 100ms;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: $bp-desktop) {
  section#top-nav {
    .menu-navigation-container {
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-400px);
      transition: transform 200ms ease-in-out;

      &.is-active {
        transform: translateY(70px);
      }
    }

    .menu-navigation-container ul {
      flex-direction: column;
      align-items: center;

      li,
      a {
        width: 100%;
      }

      li {
        border-bottom: 1px solid black;
        background: white;

        &:first-child {
          border-top: 1px solid black;
        }
      }

      a {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
      }
    }
  }
}
